<div class="row" style="margin-top: 50px;">
  <div class="col-3 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName">
             <span *ngIf="!userName.valid && (userName.touched || userSubmit)"
            class="error-block">
              Enter Name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmit)" class="error-block">
            <span *ngIf="email.hasError('required')">
              Enter email
            </span>
            <span *ngIf="email.hasError('email')">
              Enter valid email
            </span>
          </span>

        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched || userSubmit)" class="error-block">
            <span *ngIf="password.hasError('required')">
              Enter password
            </span>
            <span *ngIf="password.hasError('minlength')">
              At least 8 characters
            </span>
          </span>
        </div>

        <div class="form-group col-12" style="margin-top: 10px;">
          <label for="mobile" class="form-label">PhoneNumber</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span *ngIf="!mobile.valid && (mobile.touched || userSubmit)" class="error-block">
            <span *ngIf="mobile.hasError('required')">
              Enter mobile
            </span>
            <span *ngIf="mobile.hasError('maxlength')">
              Not enough digits
            </span>
          </span>
        </div>

        <div class="form-group col-12" style="margin-top: 15px;">
          <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Register</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
        <div class="form-group col-12" style="margin-top: 15px;" id="g_id_onload"
          data-client_id="63730221056-ai62c9d2cupksq48jcnhcqqo753bhkrj.apps.googleusercontent.com"
          data-context="signup"
          data-ux_mode="popup"
          data-login_uri="http://localhost:4200/api/login"
          data-auto_prompt="false">
        </div>
        
        <div class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="filled_blue"
          data-text="signup_with"
          data-size="medium"
          data-logo_alignment="left"> 
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
